<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Planner</title>
    <!-- <link rel="stylesheet" href="style.css"> -->
    <!-- <script defer src="script.js"></script> -->
    <script defer src="https://kit.fontawesome.com/6887534a1e.js" crossorigin="anonymous"></script>
    <!-- <script>
        //Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('./service-worker.js');
            });
        }
    </script> -->
</head>
<body>
    <div class="container">
        <h1>Travel Planner <i class="fas fa-plane"></i></h1>
        <h3 class="travel_quote"></h3>
        <form action="">
            <label for="departure">From: </label>
            <input type="text" placeholder="Enter a country" id="departure">
            <input type="datetime-local" id="dateStart">
            <label for="destination">To:</label>
            <input type="text" placeholder="Enter a country" id="destination">
            <input type="datetime-local" id="dateEnd">
            <input type="submit" value="&#xf002;" id="submit">
        </form>
    </div>
    
    <div class="centralize">
        <div class="result_container" id="#landing_wrapper">
            <p class="result"></p>
            <p class="exchange_rate"></p>
            <ul></ul>
        </div>
    </div>
    

    <footer>
        Powered by WeatherBit, Pixabay, RestCountries and ExchangeRates API
    </footer>
</body>
</html>