*, *::after,*::before {
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Glegoo&family=Shadows+Into+Light&display=swap');

body {
    min-height: 100%;
    // font-family: 'Glegoo', serif;
    font-family: 'Shadows Into Light', cursive;
}

.container {
    width: 100%;
    height: max-content;
    display: grid;
    place-items: center;
    // background-color: lightskyblue;
    background: linear-gradient(0deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 100%),url('../media/image/airplane.jpg') no-repeat center center fixed;
}

.container h1 {
    color: white;
    font-size: 6rem;
    text-shadow: 2px 5px #000;
}

.container h3 {
    color: white;
    font-size: 2rem;
    text-shadow: 2px 2px #000;
    text-align: center;
}

form {
    display: grid;
    // grid-auto-flow: column;
    grid-gap: 10px;
    align-items: center;
    grid-template-columns: repeat(3,max-content);
    // grid-template-columns: repeat(auto-fit, minmax(500px, 1fr)) 100px;
}

form input {
    font-size: 1.5rem;
    border-radius: 5px;
    padding: 3px;
}

form label {
    font-size: 2rem;
    font-weight: 800;
    color: white;
    text-shadow: 2px 2px #000;
}

form input[type=submit] {
    background-color: red;
    padding: 3px 10px;
    border-color: red;
    transition: 0.25s;
    grid-column: 1/ span 3;
    width: 200px;
    justify-self: center;
    font-family: "Font Awesome 5 Free"; // for the open access version
    font-size: 1.3333333333333333em;
    font-weight: 900;
    margin-bottom: 20px;
}

form input[type=submit]:hover {
    color: red;
    background: white;
    cursor: pointer;
}



.city_name {
    font-weight: 800;
}

.result {
    text-align: center;
    font-size: 1.5rem;
    margin: 10px;
}

li {
    list-style: none;
    text-align: center;
}

ul {
    display: grid;
    // grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit,minmax(50px,1fr));
    grid-gap: 20px;
    padding: 25px;

}

ul li img {
    width: 50px;
    height: 50px;
}

footer {
    // position: absolute;
    // bottom: 0px;
    // right: 20px;
    clear: both;
    // position: relative;
    z-index: 10;
    height: 3em;
    float: right;
    margin-right: 10px;
    text-align: right;
}

.centralize {
    display: grid;
    place-items: center;
    margin-top: 20px;
}

.result_container {
    color: white;
    width: max-content;
    min-height: 400px;
    text-align: center;
    border-radius: 4px;
}

#landing_wrapper {
    background-repeat: no-repeat;
}



// Media Queries
@media (max-width:1159px) {
    form {
        // grid-auto-flow:row;
        // grid-template-columns: repeat(3,max-content);
        // grid-auto-flow
    }
}

@media (max-width:768px) {
    .container h1 {
        font-size: 3rem;
    }

    form {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .container h3 {
        font-size: 1rem;
    }

    form label, form input {
        font-size: 1rem;
        width: 100%;
        margin: 3px 0;

    }
    
    form label {
        font-size: 1rem;
        font-weight: 600;
    }
}

// Unnecessary Codes
// input[type="submit"] {
//     font-family: "Font Awesome 5 Free"; // for the open access version
//     font-size: 1.3333333333333333em;
//     font-weight: 900;
// }